<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
  <connectionStrings>
    <add name="HotelContext" connectionString="data source=dat154.hvl.no,1443;Initial Catalog=dat154_2021_2;Persist Security Info=True;User ID=dat154_2021_2;Password=dat154_2021_2" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>